//
// IMPORTS
@use "./reset";
@use "./variables";
@use "./mixins";

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff),
    url(../fonts/Montserrat-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff), url(../fonts/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.woff), url(../fonts/Lato-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.woff), url(../fonts/Lato-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-BoldItalic.woff), url(../fonts/Lato-BoldItalic.woff2);
  font-style: italic;
  font-weight: 700;
}

//
// BASIC styles
body {
  @include mixins.font-main-regular;
}

.container {
  margin: 0 auto;
  padding: 0px variables.$padding-container;

  @media only screen and (max-width: 320px) {
    min-width: 320px;
  }

  @media only screen and (min-width: 1201px) {
    // width: 1200px;
    min-width: 1200px;
  }
}

//
// Header
.header {
  @include mixins.flexbox(space-between, center, row);
  flex-wrap: wrap;
  // width: 100%;
  padding: 0px 5px 0px 5px;

  @media only screen and (max-width: 480px) {
    height: 103px;
  }
  @media only screen and (min-width: 481px) {
    // height: 82px;
    padding: 22px 10px 14px 10px;
  }
  @media only screen and (min-width: 993px) {
    padding: 29.5px 10px 29.5px 10px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media only screen and (min-width: 1201px) {
    width: 1200px;
    margin: 0 auto;
  }

  &-wrapper {
    background-color: variables.$bg-color-header-mobile;

    @media only screen and (min-width: 993px) {
      background-color: variables.$bg-color-laptop-header;
    }
  }

  &__logo-wrapper {
    @include mixins.flexbox(space-between, center, row);
  }

  &__logo {
    display: block;
    width: 43px;
    height: 41px;
    background-image: url("../images/logo/Logo.webp");
  }

  &__logo:hover {
    background-image: url("../images/logo/logo-hover.webp");
  }

  &__logo-text {
    margin-left: 17px;
    @include mixins.font-secondary-stress;
    font-size: variables.$fonts-size-m-m;
    line-height: variables.$fonts-line-height-s-m;
    color: variables.$fonts-color-main;

    @media only screen and (max-width: 480px) {
      display: none;
    }
  }

  &__logo-text:hover {
    color: variables.$fonts-color-headers-main;
  }

  &__button {
    @media only screen and (min-width: 993px) {
      order: 3;
    }
  }

  &__button:hover {
    background-color: variables.$bg-color-page-hover;
    border: 1px solid variables.$fonts-color-main;

    & > p {
      color: variables.$fonts-color-main;
    }
  }
}

.header__nav-tablet-wrapper {
  @include mixins.flexbox(center, center, row);
  width: 100%;
  padding-top: 23px;

  @media only screen and (max-width: 480px) {
    display: none;
  }
  @media only screen and (min-width: 993px) {
    width: 527px;
    order: 2;
    padding-top: 0px;
  }
}

.header__nav-tablet {
  @include mixins.flexbox(space-between, center, row);
  width: 517px;
  @include mixins.font-main-stress;
  font-size: variables.$fonts-size-s-l;
  line-height: variables.$fonts-line-height-s-xl;
  color: variables.$fonts-color-main;

  & > li {
    opacity: 0.5;

    @media only screen and (min-width: 993px) {
      opacity: 1;
    }
  }

  & > li:hover {
    color: variables.$fonts-color-headers-main;
    opacity: 1;
  }

  @media only screen and (min-width: 481px) {
    right: 191px;
  }

  @media only screen and (min-width: 993px) {
    position: absolute;
    line-height: variables.$fonts-line-height-s-l;
  }
}

.header__nav-tablet,
.button,
.main-block__headline,
.main-block__headline-text,
.advantage__headline,
.reviews__headline,
.prices__headline {
  text-transform: capitalize;
}

.button {
  width: 119px;
  height: 37px;
  background-color: variables.$bg-color-page-main;
  border-radius: 40px;
  @include mixins.flexbox(center, center, row);
  color: variables.$fonts-color-headers-main;
  @include mixins.font-main-stress;
  font-size: variables.$fonts-size-s-m;
  line-height: variables.$fonts-line-height-s-s;

  @media only screen and (min-width: 481px) {
    width: 145px;
    height: 38px;
  }
}

.header__nav-wrapper {
  @media only screen and (min-width: 481px) {
    display: none;
  }

  width: 26px;
  height: 21px;
  background-color: white;
}

//
// Main block
.main-block {
  // height: 100%;
  background-image: url(../images/pictures/main.webp);
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 79%;
  height: 630px;
  // background-size: 100%;

  @media only screen and (max-width: 320px) {
    background-size: 448%;
  }
  @media only screen and (min-width: 481px) {
    height: 682px;
    background-position-y: 95%;
  }
  @media only screen and (min-width: 993px) {
    height: 700px;
    background-position-y: 100%;
  }
  @media only screen and (min-width: 1201px) {
    background-size: 101%;
    // TODO
    // height: 630px;
    background-position-y: 79%;
  }

  &__headline-wrapper {
    padding-top: 49px;

    @media only screen and (min-width: 481px) {
      padding-top: 69px;
    }
  }

  &__headline {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-xl-m;
    line-height: variables.$fonts-line-height-l-xxl;
    color: variables.$fonts-color-headers-main;

    @media only screen and (min-width: 481px) {
      font-size: variables.$fonts-size-xxl-m;
      line-height: variables.$fonts-line-height-xl-l;
    }
    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-xxl-l;
      line-height: variables.$fonts-line-height-xl-xl;
    }
  }

  &__headline-text {
    font-size: variables.$fonts-size-s-xl;
    line-height: variables.$fonts-line-height-m-xl;
    color: variables.$fonts-color-main;
    margin-top: 21px;
    height: 52px;

    @media only screen and (min-width: 481px) {
      @include mixins.font-secondary-regular;
      font-size: variables.$fonts-size-m-m;
    }

    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-l-s;
      line-height: variables.$fonts-line-height-l-xs;
    }

    > span {
      display: block;
      font-size: variables.$fonts-size-s-s;
      line-height: variables.$fonts-line-height-s-xs;
      color: variables.$fonts-color-text;
      margin-top: 17px;

      @media only screen and (min-width: 481px) {
        margin-top: 19px;
        @include mixins.font-main-regular;
      }
      @media only screen and (min-width: 993px) {
        font-size: variables.$fonts-size-s-l;
        line-height: variables.$fonts-line-height-s-m;
      }
    }
  }

  &__button-wrapper {
    // TODO !!!!!!!!!!!!!!!
    background-color: white;
    height: 78px;
    margin-top: -18px;
    position: relative;

    @media only screen and (min-width: 481px) {
      margin-top: 0px;
    }
  }

  &__button-wrapper a {
    position: absolute;
    left: 50%;
    top: -22.5px;
    transform: translate(-50%);

    @media only screen and (min-width: 481px) {
      top: -31px;
    }
  }
}

.main-block,
.block-text,
.repo-details-section,
.advantages__headline,
.advantage__headline,
.advantage__paragraph,
.reviews__headline,
.reviews__review__text,
.reviews__text,
.prices__headline {
  text-align: center;
}

.header__logo-text,
.main-block__headline-text > span,
.repo-details-section__header,
.button--prices,
.prices__price__headline,
.block-text--prices {
  text-transform: uppercase;
}

.button--main-block {
  width: 290px;
  height: 45px;
  font-size: variables.$fonts-size-s-xl;
  line-height: variables.$fonts-line-height-m-xs;

  &:hover {
    // border: 2px solid variables.$fonts-color-main;
    border-width: 2px;
  }

  @media only screen and (min-width: 481px) {
    width: 390px;
    height: 62px;
    font-size: variables.$fonts-size-m-s;
    line-height: variables.$fonts-line-height-m-l;
  }
  @media only screen and (min-width: 993px) {
    line-height: variables.$fonts-line-height-m-m;
  }
}

.block-text {
  text-transform: capitalize;
  font-size: variables.$fonts-size-s-s;
  line-height: variables.$fonts-line-height-s-xs;
  color: variables.$fonts-color-text;
}

.block-text--under-main-block {
  padding-top: 36.5px;

  @media only screen and (min-width: 481px) {
    line-height: variables.$fonts-line-height-s-m;
    padding-top: 53.5px;
  }
  @media only screen and (min-width: 993px) {
    line-height: variables.$fonts-line-height-s-s;
    padding-top: 54px;
  }
}

//
// Repository details block - "Revolutionary editor"
.repo-details-section,
.advantages,
.advantage {
  @include mixins.flexbox(space-between, center, column);
}

.repo-details-section {
  margin: 47px 0px 88px;

  @media only screen and (min-width: 481px) {
    line-height: variables.$fonts-line-height-s-m;
    margin: 88px 0px 159px;
  }
  @media only screen and (min-width: 993px) {
    line-height: variables.$fonts-line-height-s-s;
    margin: 60.5px 0px 70px;
  }

  &-wrapper {
    @media only screen and (min-width: 993px) {
      margin: 0 auto;
      width: 906px;
    }
    @media only screen and (min-width: 1201px) {
      width: 1200px;
    }
  }

  &__header {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-m-l;
    line-height: variables.$fonts-line-height-m-xxxl;
    color: variables.$fonts-color-headers-secondary;

    @media only screen and (min-width: 481px) {
      font-size: variables.$fonts-size-xl-s;
      line-height: variables.$fonts-line-height-l-l;
    }
    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-xl-l;
      line-height: variables.$fonts-line-height-xl-s;
    }
  }

  &__text {
    padding: 21px 23px 22px;
    @include mixins.font-secondary-regular;
    font-size: variables.$fonts-size-s-s;
    line-height: variables.$fonts-line-height-m-xs;
    color: variables.$fonts-color-headers-small;

    @media only screen and (min-width: 481px) {
      padding: 28px 39px 41px;
      font-size: variables.$fonts-size-m-s;
      line-height: variables.$fonts-line-height-l-s;
    }
    @media only screen and (min-width: 993px) {
      padding: 35px 0px 30px;
    }
  }

  &__details {
    flex-wrap: wrap;
    @include mixins.flexbox(center, center, row);
    // width: 251px;
    height: 88px;
    gap: 0px 10px;

    @media only screen and (min-width: 481px) {
      height: 100%;
    }
  }
}

.repo-details,
.repo-details__icon-wrapper {
  @include mixins.flexbox(space-between, center, row);
}

.repo-details {
  width: 120px;
  height: 26px;
  border: 1px solid rgba(31, 35, 40, 0.15);
  border-radius: 6px;

  &__icon-wrapper {
    border-right: 1px solid rgba(31, 35, 40, 0.15);
    background: linear-gradient(hsl(0, 0%, 99%), hsl(240, 3%, 94%));
    padding-left: 8px;
    width: 70px;
  }

  &__text {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: variables.$fonts-size-s-xs;
    line-height: variables.$fonts-line-height-m-xs;
    text-align: center;
    width: 50px;
  }
}

.repo-details__icon-wrapper,
.repo-details_tex {
  height: 100%;
}

//
// Advantages block - "Here is what you get"
.advantages {
  padding: 0px 15px;

  @media only screen and (min-width: 481px) {
    width: 100%;
    padding: 0px 30px;
  }
  @media only screen and (min-width: 993px) {
    width: 540px;
    grid-area: list-advantages;
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 993px) {
      grid-template-areas:
        "list-advantages headline"
        "list-advantages picture";
      background-color: variables.$bg-color-page-block-light;
      padding: 94px 0px 33px;
    }
  }

  &__headline {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-l-m;
    line-height: variables.$fonts-line-height-l-m;
    color: variables.$fonts-color-main;
    margin-bottom: 36px;
    padding: 0px 33px;

    @media only screen and (min-width: 481px) {
      font-size: variables.$fonts-size-xl-s;
      line-height: variables.$fonts-line-height-l-xl;
      width: 100%;
      margin-bottom: 49px;
    }
    @media only screen and (min-width: 993px) {
      font-size: variables.$fonts-size-xl-m;
      line-height: variables.$fonts-line-height-xl-xs;
      grid-area: headline;
      margin-bottom: 0px;
    }
  }

  &__headline::before {
    content: "<";
  }

  &__headline::after {
    content: ">";
  }
}

.advantage {
  margin-bottom: 37px;

  @media only screen and (min-width: 481px) {
    @include mixins.flexbox(space-between, center, row);
    margin-bottom: 58px;
    width: 100%;
  }

  &__icon-wrapper {
    @media only screen and (min-width: 481px) {
      width: 111px;
      display: flex;
      justify-content: center;
    }
  }

  &__icon {
    width: 111px;
    height: 64px;
    margin-bottom: 25px;

    @media only screen and (min-width: 481px) {
      margin-bottom: 0px;
    }

    &--second {
      width: 90px;
      height: 80px;
    }

    &--third {
      width: 60px;
      height: 84px;
    }

    &--fourth {
      width: 71px;
      height: 71px;
    }
  }

  &__text {
    @media only screen and (min-width: 481px) {
      @include mixins.flexbox(start, start, column);
      width: 80%;
    }
  }

  &__headline {
    margin-bottom: 14px;
    @include mixins.font-main-regular;
    font-size: variables.$fonts-size-s-l;
    line-height: variables.$fonts-line-height-s-m;
    color: variables.$fonts-color-headers-small;

    @media only screen and (min-width: 481px) {
      margin-bottom: 16px;
      line-height: variables.$fonts-line-height-m-s;
    }
    @media only screen and (min-width: 993px) {
      margin-bottom: 0px;
    }
  }

  &__paragraph {
    @include mixins.font-secondary-regular;
    font-size: variables.$fonts-size-s-s;
    line-height: variables.$fonts-line-height-m-s;
    color: variables.$fonts-color-text;

    @media only screen and (min-width: 481px) {
      text-align: start;
    }
  }
}

// .advantages__image-wrapper {
//   margin-bottom: 6px;
//   min-width: 317px;
//   height: 381px;
//   background-image: url(../images/pictures/example-code.webp);
//   background-repeat: no-repeat;
//   background-size: 155%;
//   background-position-y: 15px;

//   @media only screen and (min-width: 481px) {
//     display: none;
//   }
// }

.advantages__image {
  margin-top: 21px;

  @media only screen and (max-width: 480px) {
    min-width: 317px;
    overflow: hidden;
    margin-left: 10px;
  }
  @media only screen and (min-width: 481px) {
    @include mixins.flexbox(end, start, row);
    width: 100%;
    padding-left: 23px;
  }
  @media only screen and (min-width: 993px) {
    grid-area: picture;
    display: block;
    margin-top: 0px;
    padding-left: 0px;
  }

  // width: 100%;

  & > img {
    @media only screen and (max-width: 480px) {
      width: 165%;
      height: 381px;
    }
    // width: minmax(100%, 700px);
    width: 100%;
    // max-width: 700px;
  }
}

//
// Reviews block - "People Are Talking About Fork"
.reviews-background,
.prices-background {
  background-color: variables.$bg-color-page-block-dark;
}

.reviews-background {
  padding-top: 15px;
}

.reviews-wrapper {
  padding: 43px 0px 5px;
  @include mixins.flexbox(center, center, column);

  background-image: url(../images/pictures/backgroubd-first.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0%;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 41px;
  padding: 0px 15px;

  &__headline {
    margin-bottom: 53px;
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-l-l;
    line-height: variables.$fonts-line-height-l-xxl;
    color: variables.$fonts-color-headers-main;
  }

  &__text-wrapper {
    @include mixins.flexbox(center, center, row);
  }

  &__text {
    @include mixins.font-secondary-regular;
    font-size: variables.$fonts-size-s-s;
    line-height: variables.$fonts-line-height-m-s;
    color: variables.$fonts-color-text-decor;
    margin: 29px 0px 22px;
    width: 251px;
  }

  &__decor-line {
    width: 245px;
    border-bottom: solid 2px variables.$bg-color-decor-strip;
  }
}

.reviews__review {
  @include mixins.flexbox(space-between, center, column);

  &__image {
    width: 165px;
    // margin-bottom: 33px;
    margin-bottom: 22px;

    &--second {
      width: 148px;
      // margin-bottom: 29px;
    }

    &--third {
      width: 64px;
      // margin-bottom: 22px;
    }

    &--fourth {
      width: 225px;
      // margin-bottom: 33px;
    }

    &--fiveth {
      width: 166px;
      // margin-bottom: 28px;
    }

    &--sixth {
      width: 108px;
      // margin-bottom: 24px;
    }
  }

  &__text {
    width: 270px;
    @include mixins.font-secondary-stress-accent;
    font-size: variables.$fonts-size-s-l;
    line-height: variables.$fonts-line-height-m-xl;
    color: variables.$fonts-color-headers-main;
  }
}

//
// Price block - "Fork Subscription Pricing"
.prices {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 18px;
  padding-bottom: 12px;

  &__headline {
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-m-xl;
    line-height: variables.$fonts-line-height-l-l;
    color: variables.$fonts-color-headers-main;
    padding-bottom: 20px;
    // TODO ^^^^^ Pixel perfect!! ^^^^^
  }
}

.prices__price {
  @include mixins.flexbox(space-between, center, column);
  background-color: variables.$bg-color-block;

  &__headline {
    @include mixins.flexbox(center, center, row);
    width: 100%;
    height: 91px;
    background-color: variables.$bg-color-block-header;
    @include mixins.font-main-regular;
    font-size: variables.$fonts-size-m-m;
    line-height: variables.$fonts-line-height-m-xl;
    color: variables.$fonts-color-headers-main;
  }

  &__text {
    @include mixins.flexbox(space-between, center, column);
    padding: 30px 0px 38px;
  }

  &__number {
    margin-bottom: 20px;
    @include mixins.font-main-stress;
    font-size: variables.$fonts-size-xxl-s;
    line-height: variables.$fonts-line-height-xl-m;
    color: variables.$fonts-color-headers-main;

    & > span {
      @include mixins.font-main-regular;
    }
  }

  &__decor-line {
    width: 60px;
    border-bottom: solid 5px variables.$fonts-color-main;
    margin: 38px 0px 30px;
  }

  &__options {
    @include mixins.font-main-regular;
    font-size: variables.$fonts-size-s-l;
    line-height: variables.$fonts-line-height-s-xl;
    color: variables.$fonts-color-headers-main;
  }

  &__options--margin {
    margin-bottom: 17px;
  }

  &--not-accent {
    margin: 0px 21px;
  }

  &--accent {
    background-color: variables.$bg-color-block-accent;
  }

  &__headline--accent {
    background-color: variables.$bg-color-block-accent-header;
  }
}

.button--prices {
  width: 163px;
  height: 45px;
  margin-top: 39px;
  background-color: variables.$bg-color-block-button;
  color: variables.$fonts-color-headers-main;
  @include mixins.font-main-regular;
}

.block-text--prices {
  text-transform: uppercase;
  color: variables.$fonts-color-headers-main;
}

//
